

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('/fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype');
    font-weight: 100 900; /* Adjust based on available weights */
    font-stretch: 25% 151%; /* If the font supports width variation */
}
